:root {
    font-family: "M PLUS 1p";
  color: rgba(255, 255, 255, 0.87);
  background-color: #161616;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

button,
router-link,
input,
textarea {
  background: none;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  line-height: inherit;
}